<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,4},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,150},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,296},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>022.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>023.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>024.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>025.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,442},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>029.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>030.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>031.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>032.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,588},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>036.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>037.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>038.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>039.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,734},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>044.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>045.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>046.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,880},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>050.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>051.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>052.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>053.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1026},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>057.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>058.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>059.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>060.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1172},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>064.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>065.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>066.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>067.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1318},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>071.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>072.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>073.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>074.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1464},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>078.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>079.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>080.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>081.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1610},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>085.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>086.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>087.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>088.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1756},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>092.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>093.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>094.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>095.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1902},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd4c21dba35abcd5546b1b354c1c6ba:1/1$</string>
            <key>textureFileName</key>
            <string>World_1.png</string>
        </dict>
    </dict>
</plist>
